
/*---Fonts---*/
@font-face {
    font-family: 'avenir-next-regular';
    src: url('assets/fonts/avenir-next-regular.eot'); 
    src: url('assets/fonts/avenir-next-regular.woff') format('woff');
  }
@font-face{
    font-family:'gotham-bold';
    src: url('assets/fonts/Gotham-Bold.eot');
    src: url('assets/fonts/Gotham-Bold.woff') format('woff');
}
@font-face{
    font-family:'gotham-medium';
    src: url('assets/fonts/Gotham-Medium.eot');
    src: url('assets/fonts/Gotham-Medium.woff') format('woff');
}

/*---Body---*/
.navheaderwrapper{
    background-image: url(assets/images/header/studentsheader.jpg);
    background-color:#AD7F70;
    background-blend-mode:overlay;
    background-size: cover;

}
a:visited,
a:link{
    color:white;
}

/*---Navigation---*/
nav{
    display:grid;
    grid-template-columns:5fr 12fr .5fr;
    padding:25px 45px 0 50px;
}
.navbuttons{
    display:flex;
    justify-content:space-evenly;
    font-family:"gotham-bold";

}
.navbuttons a:link{
    background-color:#1a2930;
    text-decoration: none;
    height:20px;
    width:125px;
    font-size: 22px;
    padding:2px 15px 13px 45px;
}
img[alt="logo"]{
    height: 125px;
    width: auto;
}
#studentsyellow{
    background-color: #f7ce3e;
}

/*---Header---*/
header{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:50px 250px 50px 250px;
}
.students,
.headerquote{
    color:#f7ce3e;
    font-weight: normal;
}
.headerquote{
    font-size: 2.6em;
    font-family: "avenir-next-regular";
    margin-top:0;
    margin-bottom:180px;
}
.students{
    margin-top:0;
    font-size: 5em;
    font-family: "gotham-medium";
}

/*---Middle---*/
.middle{
    margin:30px;
}
.profile1,
.profile2,
.profile3,
.profile4{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
}
img[alt='mst3k']{
    width: 100%;
    height:500px;
    margin:30px 80px 30px 0px;
}
h5,
h6,
p{
    margin-bottom:0px;  
    font-weight:normal;
}
h5,
h6{
    font-family: 'gotham-medium';
}
h6,
p{
    margin-top:30px;
}
h5{
    font-size:60px;
}
h6{
    font-size:43px;
}
p{
    font-family:'avenir-next-regular';
    font-size: 25px;
    line-height: 40px;
}
.middlebottom{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.leftbottom{
    height:auto;
    width:100%;
    font-family: 'gotham-bold';
}
.leftwrapper{
    color:#c5c1c0;
    background-color: #1A2930;
    padding:150px 80px 150px 80px;
}
.yellowblock{
    background-color: #f7ce3e;
    width:100%;
    height:20px;
}
h2,
h4{
    margin-left:50px;
}
h2{
    font-size:4.5em;
}
h4{
    font-size:4em;
}
.middlebottomwrapper,
.rightbottom{
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.middlebottomtop,
.middlebottombottom,
.rightbottomtop,
.rightbottombottom{
    text-align:center;
    font-family:"gotham-bold";
    background-size: cover;
    background-position: center;
    margin:0px 20px 0px 20px;
}
.middlebottombottom,
.rightbottombottom{
    margin-top:20px;
}
.middlebottomtop{
    background-image: url("assets/images/mst3k/joel.jpg");
}
.middlebottombottom{
    background-image: url("assets/images/mst3k/mads2.jpg");
}
.rightbottomtop{
    background-image: url("assets/images/mst3k/mads3.jpg");
}
.rightbottombottom{
    background-image: url("assets/images/mst3k/mads1.jpg");
}
.middlebottomwrapper .middlebottomtop h3,
.rightbottom .rightbottombottom h3{
   background-color:#c5c1c0;
    
}
.middlebottomwrapper .middlebottombottom h3,
.rightbottom .rightbottomtop h3{
    background-color: #f7ce3e;
}
.middlebottomwrapper .middlebottombottom h3,
.rightbottom .rightbottomtop h3,
.middlebottomwrapper .middlebottomtop h3,
.rightbottom .rightbottombottom h3{
    padding:5px;
    margin-top:0px;
    margin-left:300px;
    font-size: 30px;
}

/*---Footer---*/
footer{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:#1A2930;
    padding:3em;
}
.footerleft a:link,
.footermiddle a:link,
.footerright a:link{
    text-decoration: none;
    font-size: 22px;
    font-family:"gotham-bold";
    font-weight: normal;
    margin: 10px;
}
.footerleft,
.footerright{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.footermiddle{
    display:flex;
    flex-direction:column;
    align-items:center;
}
#jobs{
    display:flex;
    flex-direction:column;
    align-items: center;
}
#campus{
    margin-left:-50px;
}

